<footer class="footer">
  <div class="footer-top">
    <div class="column content">
      <h3>Beautiful Jharkhand</h3>
      <p>From Netarhat’s sunrise to Hundru’s roar, Jharkhand awaits. Discover eco-adventures, cultural stories, and authentic local experiences — a journey that connects you to roots and nature.</p>
    </div>
    <hr class="hr">

    <div class="column">
      <h3>Our Pages</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <hr class="hr">
    <div class="footer_section">
      <h3>Newsletter</h3>
      <p>Newsletter for Daily updates and offers.</p>
      <div class="newsletter">
        <input type="email" placeholder="Enter your email">
        <button>Subscribe</button>
      </div>
    </div>

    <div class="footer_bottom">
      <p>&copy; 2025 Jharkhand Explore. All rights reserved.</p>
    </div>

  </div>
</footer>

