<div class="hero-section">
  <div class="home-content">
 <h1>Powering a Brighter Future with Solar Energy.</h1>
  <p>Clean, affordable and sustainable solar solutions for your home & business.</p>
  <a href="#" class="cta-btn">Get Started</a>

  <section class="about-section">
    <h2>Why Choose Solar Energy ?</h2>
    <p>Solar energy is the cleanest and most reliable form of renewable energy.We provide end-to-end installation and maintenance of solar power systems
to make your switch to green energy smooth and hassle-free.</p>

    <div class="benefit">
      <div class="benefit-card">
        <h3>Green life</h3>
        <p>Help to grow the green planet</p>
      </div>

      <div class="benefit-card">
        <h3>Reduce Bills</h3>
        <p>Save up to 70% on electricity costs.</p>
      </div>

      <div class="benefit-card">
        <h3>Long term Warranty</h3>
        <p>High-quality panels with 25-year performance guarantee.</p>
      </div>
    </div>
  </section>
</div>
</div>

