
  <div class="about_left">
    <h1>Explore Jharkhand</h1>
    <p class="about_text">
    Jharkhand is blessed with breathtaking landscapes, rich greenery, and vibrant cultural heritage. From majestic waterfalls like Hundru and Dassam to the serene forests of Betla and Netarhat, our state is a treasure of natural beauty and biodiversity.
    </p>
    <p class="about_text">
     We are committed to protecting this unique environment by promoting eco-friendly initiatives and sustainable practices.
    </p>
    <p class="about_text">
     By blending modern innovation with respect for nature, we aim to create a future where progress and the environment walk hand in hand — preserving Jharkhand’s charm while building a greener tomorrow.
    </p>
  </div>

  <div class="about_right">
    <div class="about_image_grid">
      <div class="grid_item large">
        <img src="../../../assets/patratu.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/about_page/netarhat.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/about_page/download.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/tour.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/Sikharji_jalmandir.jpg">
      </div>
    </div>
  </div>
