<div class="about_component">
  <div class="about_left">
    <h1>About Us</h1>
    <p class="about_text">
    Jharkhand is blessed with breathtaking landscapes, rich greenery, and vibrant cultural heritage. From majestic waterfalls like Hundru and Dassam to the serene forests of Betla and Netarhat, our state is a treasure of natural beauty and biodiversity.
    </p>
    <p class="about_text">
     We are committed to protecting this unique environment by promoting eco-friendly initiatives and sustainable practices.
    </p>
    <p class="about_text">
     By blending modern innovation with respect for nature, we aim to create a future where progress and the environment walk hand in hand — preserving Jharkhand’s charm while building a greener tomorrow.
    </p>
  </div>

  <div class="about_right">
    <div class="about_image_grid">
      <div class="grid_item large">
        <img src="../../../assets/patratu.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/solar5.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/solar2.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/tour.jpg">
      </div>
      <div class="grid_item">
        <img src="../../../assets/Sikharji_jalmandir.jpg">
      </div>
    </div>
  </div>
</div>

<div class="highlights_section">
  <h2>Why Choose Us</h2>
  <div class="about_highlights">
    <div class="highlight_item">
      <div class="highlight_image">
        <img src="../../../assets/about_page/download (1).jpeg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Beauty of Sight</h3>
        <p>We bring Jharkhand’s forests, waterfalls, and culture closer to you — smart guides, eco-friendly trips, and authentic local community connections.</p>
      </div>
    </div>
    <div class="highlight_item">
      <div class="highlight_image">
        <img src="../../../assets/about_page/download.jpg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Eco-Friendly</h3>
        <p>Feel Jharkhand’s eco-friendly vibe — vibrant forests, tribal heritage, clean environment, and sustainable experiences connecting people with nature’s harmony.</p>
      </div>
    </div>
    <div class="highlight_item">
      <div class="highlight_image">
        <img src="../../../assets/about_page/patratu-valley-ranchi-jharkhand-1-hero.jpeg" alt="">
      </div>
      <div class="highlight_content">
        <h3>Atmosphere</h3>
        <p>Experience Jharkhand’s eco-friendly atmosphere — green forests, clear skies, tribal traditions, and sustainable tourism blending nature with authentic culture.</p>
      </div>
    </div>
  </div>
</div>

